input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin:0;
}

.proprietati {
    display: flex;
    transform: translate(75%);
    padding-left: 10px;
    border: 0;
    margin:5px;
}

#add {
    position: absolute;
    top: 20px;
    left: 40px;
    z-index:100;
}

.parametru {
    margin: 0;
    padding: 5px;
    background-color: aquamarine;
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 550;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:black;
    border: 2px solid rgb(79, 3, 255);
    width: 300px;
} 

.sortare {
    height:fit-content;
}

.parametru:hover {
    background-color: #51ea55;
}

.filtreaza {
    font-size: xx-large;
    font-weight: 700;
    letter-spacing: 2px;
    color:#6200ff;
    background-color: aquamarine;
    width: 300px;
    padding: 5px;
    border: 2px solid rgb(79, 3, 225);
    text-align: center;  
}

.poza {
    width: 100%;
    height: 300px;
    padding: 20px;
    border-radius: 16%;
}

.produse > div {
    width: 250px;
    height: 400px;
    background-color: rgb(119, 171, 219);
    border-radius: 30px;
    margin: 25px;
    display: flow-root;
}

.produse {
    align-items: center;
    margin-left: 330px;
    margin-top: 50px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, minmax(5em, 1fr));
    gap: 3px;
}

h2 {
    color: rgb(20, 25, 104) !important;
    padding-left: 10px;
}

.proprietati {
    display: flex;
    transform: translate(75%);
    padding-left: 10px;
    border: 0;
    margin: 5px;
    min-height: 25px;
}

#inputSpec {
    min-height: 25px;
    margin-left: -10px;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

.header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 200px;
    background: rgb(223, 252, 255);
}

.welcome {
    position: relative;
    top: 70px;
    font-size: 50px;
    color: brown;
    text-align: center;
}

.companyName {
    position: absolute;
    font-size: 30px;
    top: 0px;
    left: 100px;
    color:burlywood;
}

.search-bar{ 
    position: absolute;
    width: 15%;
    height: 30px;
    font-size: 15px;
    right: 100px;
    top: 220px;
    background-color: rgb(223, 252, 255);
    border-radius: 15px;
    padding-left: 10px;
    text-align: center;
}

.search-bar:hover {
    background-color:rgb(253, 253, 215);
}

.admin {
    position: absolute;
    margin: 0px;
    top: 20px;
    right: 40px;
    z-index: 100;
}

.adaugaProdus {
    position: absolute;
    width: 15%;
    height: 30px;
    font-size: 15px;
    margin-left: 77.666666%;
    background-color: rgb(223, 252, 255);
    border-radius: 15px;
    padding-left: 10px;
    margin-top: 235px;
}

.adaugaProdus:hover {
    background-color:rgb(253, 253, 215);
}

.dropdown {
    width: fit-content;
}

.remove-item {
    margin: 1.5px;
    background-color: rgb(255, 0, 0);
    width:37px;
    height:37px;
    border-radius: 50%;
}

.remove-item :hover {
    width:35px;
    height:35px;
    margin: 6px;
}

h2 {
    position: relative;
  
}

.modify-item {
    margin: 1.5px;
    background-color: rgb(0, 255, 55);
    width:37px;
    height:37px;
    border-radius: 50%;
    position: relative;
}

#inputSpec1 {
    position: relative;
    left: -15px;
}